{

}
<!DOCTYPE html>
<html>
<style>
    table {
        border: 1px solid black;
        width: 40px;
        height: 10px;
        margin: 35px 55px 15px 55px;
        padding: 45px 45px 15px 45px;
    }

    tr, th {
        border: 1px solid black;
        width: 40px;
        height: 10px;
        margin: 35px 55px 15px 55px;
        padding: 45px 45px 15px 45px;
        background-color: #87CEFA;
    }

    td {
        border: 1px solid black;
        margin: 55px 55px 15px 55px;
        background-color: #c6d8e9;
    }
</style>

<head>
    <link rel="stylesheet" href="~/Content/Anuncios/VistaAnuncios.css" />
</head>

<body>
    <!-- CABECERA WEB -->
    <header id="VA-TituloHeader">Mis anuncios reservados</header>
    <!-- CUERPO PRINCIPAL  -->
    <p>
        <a href="~/GestionAnuncios/TipoAnuncios"><b>Create New</b></a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Profesional o familia
                </th>
                <th>
                    <a>Tipo anuncio</a>
                </th>
                <th>
                    <a>Ciudad</a>
                </th>
                <th>
                    <a>Duracion</a>
                </th>
                
                <th>
                    <a>Detalles</a>
                </th>


            </tr>
        </thead>
        <tbody>


            <tr>
                <td>
                    @ViewData["AnuncioTipo1"]
                </td>
                <td>
                    @ViewData["TipoAnuncio1"]
                </td>
                <td>
                    @ViewData["Ciudad1"]
                </td>
                <td>
                    @ViewData["Duracion1"]
                </td>
                
                <td>

                    <a href="~/AnunciosLocales/misReservasDetalles1">Details</a>

                </td>
            </tr>
            

        </tbody>
    </table>
    <form action="/Perfil/PerfilProfesional">
        <input type="submit" value="Volver">
    </form>
    <section id="VA-CuadroCentral"></section>
    <br />

</body>

</html>