/* VISTA REGISTRO AMBOS
 * Cada "id" sera registrado de la forma
 * RA-AAAA. De forma que sera significativo
 * para identificar cada etiqueta de esta vista
*/
body {
    width: 100%;
    height: 100%;
}
/*Cabecera de la vista*/

#RA-Header {
    width: 100%;
    height: 100%;    
}
/*Titulo de la cabera*/
#RA-TituloH {
    margin: 15px 475px 15px 475px;
    padding: 10px 10px 10px 10px;
    width: 300px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 900;   
}
/*Cuadrado central de la vista*/
#RA-CuadradoCentral {
    margin: 20px 30px 20px 30px;
    padding: 20px 20px 20px 20px;
    width: 1250px;
    height: 800px;
    border: 2px solid white;
    background: linear-gradient(#e7eff2,#f7f7f7);
}
/*Formulario de la vista registro de familias*/
#RA-Formulario {
    width: 450px;
    height: 650px;
    margin: 25px 325px 25px 325px;
    padding: 15px 15px 15px 15px;
    border: solid 2px white;
    background: linear-gradient(#e7eff2,#f7f7f7);    
}
/*Etiquetas para el formulario*/
/*Texto de Nombre*/
#RA-NombreT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Nombre*/
#RA-NombreC {
    /*border: solid black 2px;*/
    width: 200px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Apellidos*/
#RA-ApellidoT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Apellidos*/
#RA-ApellidoC {
    /*border: solid black 2px;*/
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Telefono*/
#RA-TelefonoT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Telefono*/
#RA-TelefonoC {
    /*border: solid black 2px;*/
    width: 150px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Email*/
#RA-EmailT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Email*/
#RA-EmailC {
    /*border: solid black 2px;*/
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Password*/
#RA-PasswordT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Password*/
#RA-PasswordC {
    /* border: solid black 2px;*/
    width: 200px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Ciudad*/
#RA-CiudadT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Ciudad*/
#RA-CiudadC {
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Sexo*/
#RA-SexoT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Sexo*/
#RA-SexoC {
    /*border: solid black 2px;*/
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Edad*/
#RA-EdadT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Edad*/
#RA-EdadC {
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de Descripcion*/
#RA-DescripcionT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de Descripcion*/
#RA-DescripcionC {
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Texto de*/
#RA-ZonaT {
    /*border: solid black 2px;*/
    width: 85px;
    height: 25px;
    text-align: left;
    float: left;
    font-family: Calibri;
    font-weight: 900;
}
/*Cuadrado de*/
#RA-ZonaC {
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
/*Boton registro familia*/
#RA-Boton {
    margin: 20px 20px 20px 125px;
    width: 100px;
    height: 25px;
}
#facebookboton {
    border: solid 2px black;
    display: inline;
    float: right;
    margin: 15px 40px 20px 10px;
}
/*Modificar perfil de ambos*/
#RA-TituloHM {
    margin: 15px 425px 15px 425px;
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 900;
}
