<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Perfiles/ModificarPerfilProfesional.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="MPP-Header">
        <h1 id="MPP-TituloHM">Modificar perfil de profesional</h1>
    </header>
    <!-- FORMULARIO WEB-->
    <section id="MPP-CuadradoCentral">
        <form action="/Perfil/PerfilProfesional" name="PerfilProfesional" id="MPP-Formulario" method="post" autocomplete="off">
            <!-- Primera fila - Nombre -->
            <section>
                <section id="MPP-NombreT">Nombre</section>
                <input type="text" name="nombre" id="MPP-NombreC" />
            </section>
            <!-- Segunda fila - Apellidos -->
            <section>
                <section id="MPP-ApellidoT">Apellidos</section>
                <input type="text" name="apellido" id="MPP-ApellidoC" />
            </section>
            <!-- Tercera fila - Telefono -->
            <section>
                <section id="MPP-TelefonoT">Telefono</section>
                <input type="tel" name="telefono" id="MPP-TelefonoC" />
            </section>
            <!-- Cuarta fila - Email -->
            <section>
                <section id="MPP-EmailT">Email</section>
                <input type="email" name="email" id="MPP-EmailC" />
            </section>
            <!-- Quinta fila - Contraseña -->
            <section>
                <section id="MPP-PasswordT">Contraseña</section>
                <input type="password" name="contraseña" id="MPP-PasswordC" />
            </section>
            <!-- Sexta fila - Sexo -->
            <section>
                <section id="MPP-SexoT">Sexo</section>
                <input type="text" name="sexo" id="MPP-SexoC" />
            </section>
            <!-- Septima fila - Edad -->
            <section>
                <section id="MPP-EdadT">Edad</section>
                <input type="number" name="edad" id="MPP-EdadC" min="1" max="150" />
            </section>
            <!-- Octava fila - Descripcion -->
            <section>
                <section id="MPP-DescripcionT">Descripcion</section>
                <input type="text" name="descripcion" id="MPP-DescripcionC" />
            </section>
            <!-- Novena fila - Zona -->
            <section>
                <section id="MPP-ZonaT">Zona</section>
                <input type="text" name="zona" id="MPP-ZonaC" />
            </section>
            <!-- Decima fila - Localizacion -->
            <section>
                <section id="MPP-LocalizacionT">Localizacion</section>
                <input type="text" name="localizacion" id="MPP-LocalizacionC" />
            </section>
            <!-- Boton de registro -->
            <section>
                <input type="submit" value="Aceptar" id="MPP-Boton" />
            </section>
        </form>
    </section>
</body>
</html>
