<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Perfiles/ModificarPerfilAmbos.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="MPA-Header">
        <h1 id="MPA-TituloHM">Modificar perfil de ambos</h1>
    </header>
    <!-- FORMULARIO WEB-->
    <section id="MPA-CuadradoCentral">
        <form action="/Perfil/PerfilAmbos" name="PerfilAmbos" id="MPA-Formulario" method="post" autocomplete="off">
            <!-- Primera fila - Nombre -->
            <section>
                <section id="MPA-NombreT">Nombre</section>
                <input type="text" name="nombre" id="MPA-NombreC" />
            </section>
            <!-- Segunda fila - Apellidos -->
            <section>
                <section id="MPA-ApellidoT">Apellidos</section>
                <input type="text" name="apellido" id="MPA-ApellidoC" />
            </section>
            <!-- Tercera fila - Telefono -->
            <section>
                <section id="MPA-TelefonoT">Telefono</section>
                <input type="tel" name="telefono" id="MPA-TelefonoC" />
            </section>
            <!-- Cuarta fila - Email -->
            <section>
                <section id="MPA-EmailT">Email</section>
                <input type="email" name="email" id="MPA-EmailC" />
            </section>
            <!-- Quinta fila - Contraseña -->
            <section>
                <section id="MPA-PasswordT">Contraseña</section>
                <input type="password" name="contraseña" id="MPA-PasswordC" />
            </section>
            <!-- Sexta fila - Ciudad -->
            <section>
                <section id="MPA-CiudadT">Ciudad</section>
                <input type="text" name="ciudad" id="MPA-CiudadC" />
            </section>
            <!-- Septima fila - Sexo -->
            <section>
                <section id="MPA-SexoT">Sexo</section>
                <input type="text" name="sexo" id="MPA-SexoC" />
            </section>
            <!-- Octava fila - Edad -->
            <section>
                <section id="MPA-EdadT">Edad</section>
                <input type="number" name="edad" id="MPA-EdadC" min="1" max="150" />
            </section>
            <!-- Novena fila - Descripcion -->
            <section>
                <section id="MPA-DescripcionT">Descripcion</section>
                <input type="text" name="descripcion" id="MPA-DescripcionC" />
            </section>
            <!-- Decima fila - Zona -->
            <section>
                <section id="MPA-ZonaT">Zona</section>
                <input type="text" name="zona" id="MPA-ZonaC" />
            </section>
            <!-- Undecima fila - Localizacion -->
            <section>
                <section id="MPA-LocalizacionT">Zona</section>
                <input type="text" name="zona" id="MPA-LocalizacionC" />
            </section>
            <!-- Boton de registro -->
            <section>
                <input type="submit" value="Aceptar" id="MPA-Boton" />
            </section>
        </form>
    </section>
</body>
</html>



