<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/TipoAnuncios.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="TP-Header">Tipos de Anuncios</header>
    <!-- CUERPO PRINCIPAL  -->
    <section id="TP-CENTRO">
        <!-- -->
        <section id="TP-CUADRO1">
            <h3 id="TP-Subtitulo1">Clases Particulares</h3>
            <img src="~/imagenes/clase.png" id="TP-Icono1"/>
            <p id="TP-Parrafo1">
                Crear anuncio de <br />
                clases particulares.
            </p>
            <a href="/GestionAnuncios/RegistroAnunciosClasPart" id="TP-Referencia"> <img src="~/imagenes/entrar1.png" width="120" height="39" ; /> </a>
        </section>
        <!-- -->
        <section id="TP-CUADRO2">
            <h3 id="TP-Subtitulo2">Cuidado Mascotas</h3>
            <img src="~/imagenes/perro2.png" id="TP-Icono2" />
            <p id="TP-Parrafo2">
                Crear anuncio de <br />
                cuidado mascotas.
            </p>
            <a href="/GestionAnuncios/RegistroAnunciosCuidadoMasc" id="TP-Referencia"> <img src="~/imagenes/entrar1.png" width="120" height="39" ; /> </a>
        </section>
        <!-- -->
        <section id="TP-CUADRO3">
            <h3 id="TP-Subtitulo3">Cuidado Personas</h3>
            <img src="~/imagenes/enfermera.png" id="TP-Icono3" />
            <p id="TP-Parrafo3">
                Crear anuncio de <br />
                cuidado personas.
            </p>
            <a href="/GestionAnuncios/RegistroAnunciosCuidadoPers" id="TP-Referencia"> <img src="~/imagenes/entrar1.png" width="120" height="39" ; /> </a>
        </section>
        <!-- -->
        <section id="TP-CUADRO4">
            <h3 id="TP-Subtitulo4">Labores Domesticas</h3>
            <img src="~/imagenes/domestico.jpg" id="TP-Icono4" />
            <p id="TP-Parrafo4">
                Crear anuncio de <br />
                labores domesticas.
            </p>
            <a href="/GestionAnuncios/RegistroAnunciosLaboresDom" id="TP-Referencia"> <img src="~/imagenes/entrar1.png" width="120" height="39" ; /> </a>
        </section>

    </section>     
    <footer></footer>
</body>
</html>
