@{
    
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Anuncios/VistaAnuncios.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="VA-TituloHeader">Ofertas de Milservicios</header>
    <!-- CUERPO PRINCIPAL  -->
    <section id="VA-CuadroCentral">

    </section> 
    <br />
</body>

</html>



