
/*RESET CSS*/

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    
}
    

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    font-weight: normal;
    text-align: left;
}

img, fieldset {
    border: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

q:before, q:after {
    content: '';
}
/*Sin visitar*/
a:link {
    text-decoration:none;  
    color:#ffffff;
}
/*Raton encima del texto*/
a:hover {
    
    color:#ffffff;
}
/*Visitado*/
a:visited {
    text-decoration: none;
    color: #ffffff;
}
/*Seleccionado*/
a:active {
    text-decoration: none;
    color: #ffffff;
}
/*PAGINA WEB MODIFICACIONES*/
body {
    background-color: #f7f7f7;
}
#Cabecera {
    width:100%;
    height:60px;
    background-color:#1a11eb;
}
#IconoPagina {
    /*border: solid 2px black;*/
    width: 180px;
    height: 35px;
    background: url(../imagenes/icono1.png) no-repeat center;
    float:left;
    display:inline;
    margin:13px 5px 12px 15px;
}

#BloqueIzquierdo {
    margin: 7px 5px 3px 0px;
    width: 400px;
    height: 50px;
    /*border:solid black 1px;*/
    float: left;
    display: inline;
}
#Cuadro1{
    margin:0px 2px 0px 2px;
    width:398px;
    height:50px;
    /*border:solid white 1px;*/
    float:left;
    display:inline;
}

#CuadradoC {
    margin: 12px 10px 13px 2px;
    padding-top:5px;
    width: 85px;
    height: 25px;
    /*border: solid red 1px;*/
    float: left;
    display: inline;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    color: #ff0000;
}
#CuadradoD {
    margin: 12px 2px 12px 2px;
    padding-top: 5px;
    width: 120px;
    height: 25px;
    /*border: solid red 1px;*/
    float: left;
    display: inline;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    color: #ff0000;
}
#CuadradoE {
    margin: 12px 10px 13px 2px;
    padding-top: 5px;
    width: 125px;
    height: 25px;
    /*border:solid red 1px;*/
    float: left;
    display: inline;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    color: #ff0000;
}
/*Barra derecha*/
#BloqueDerecho {
    margin: 5px 15px 5px 15px;
    width: 400px;
    height: 50px;
    float: right;
    display: inline;      
}
#Cuadro2 {
    margin: 0px 2px 0px 2px;
    width: 398px;
    height: 50px;    
    float: right;
    display: inline;
}
#Cuadrado1 {
    margin: 12px 10px 13px 2px;
    padding-top: 5px;
    width: 85px;
    height: 25px;
    float: right;
    display: inline;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    color: #ff0000;
}
#Cuadrado2 {
    margin: 12px 10px 13px 2px;
    padding-top: 5px;
    width: 85px;
    height: 25px;
    float: right;
    display: inline;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    color: #ff0000;
}
/*Cuando accedemos a la pagina web*/
#Cuadrado3 {
    margin: 12px 10px 13px 2px;   
    width: 85px;
    height: 25px;
    float: right;
    display: inline;   
}
#Cuadrado4 {
    margin: 12px 10px 13px 2px;
    width: 50px;
    height: 40px;
    float: right;
    display: inline;    
}
#IconoPagina1 {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
    width: 40px;
    height: 40px;
    background: url(../imagenes/icono2.png) no-repeat center;
    float: right;
    display: inline;
}
#IconoPagina2 {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
    width: 40px;
    height: 40px;
    background: url(../imagenes/icono3.png) no-repeat center;
    float: right;
    display: inline;
}