<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Registros/Acceso.css" />
</head>
<body>    
    <!-- CABECERA PRINCIPAL -->
    <header id="A-CabeceraT">
        <h1 id="A-TituloCabeceraT">Acceso de usuarios</h1>
    </header>
    <!-- CUERPO PRINCIPAL -->
    <section id="A-CuerpoPrincipalT">
        <form  name="acceso" id="A-Acceso" method="post" autocomplete="on" >
            <!-- Primera fila - Email -->
            <section>
                <section id="A-EmailT">Email</section>
                <input type="email" id="A-EmailC"/>
            </section>
            <!-- Segunda fila - Contraseña -->
            <section>
                <section id="A-ContraseñaT">Contraseña</section>
                <input type="password" id="A-ContraseñaC"/>
            </section>
            <!-- Tercera fila - Boton -->
            <section style="margin:0px 0px 5px 0px">                
                <input type="submit" value="Acceder" id="A-Boton1"/>
            </section>
        </form>
    </section>
</body>
</html>
