<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegAnuncios</title>
</head>
<body>
    <div>
        <form action="/ControlWeb/RegAnuncios" method="post">
            <label for="Duracion">Duracion</label>
            <input type="number" name="duracion" />
            <br />
            <label for="Horario">Horario</label>
            <input type="text" name="horario" />
            <br />
            <label for="Nacionalidad">Nacionalidad</label>
            <input type="text" name="nacionalidad" />
            <br />
            <label for="Carnet">Carnet de conducir</label>
            <input type="checkbox" name="carnet" value=true />
            <br />
            <label for="Sueldo">Sueldo base</label>
            <input type="number" name="sueldo" />
            <br />
            <label for="Zona">Zona</label>
            <input type="text" name="zona" />
            <br />
            <label for="Fumador">Fumador</label>
            <input type="checkbox" name="fumador" value=true />
            <br />
            <input type="submit" value="Publicar" />
        </form>
    </div>
</body>
</html>