<!DOCTYPE html>
@using reCAPTCHA.MVC
@using Facebook
<html>
<head>
    <link rel="stylesheet" href="~/Content/Registros/RegistroFamilia.css" />
    <!--<script type="text/javascript" src="~/Scripts/Registros/registrofamilia.js"></script>-->
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="RF-Header">
        <h1 id="RF-TituloH">Registro de Familias</h1>
    </header>
    <!-- Imagen de Milservicios-->
   <!--  <figure><img src="~/imagenes/perro.jpg" /></figure>-->
    <!-- FORMULARIO WEB-->
    <section id="RF-CuadradoCentral">
        <form name="RegistroFamilia" id="RF-Formulario" method="post" autocomplete="off">            
            <!-- Primera fila - Nombre --> 
            <section>
                <section id="RF-NombreT">Nombre</section>
                <input type="text" name="Nombre" id="RF-NombreC" />
            </section>
            <!-- Segunda fila - Apellidos -->
            <section>
                <section id="RF-ApellidoT">Apellidos</section>
                <input type="text" name="Apellido" id="RF-ApellidoC" />
            </section>
            <!-- Tercera fila - Telefono -->
            <section>
                <section id="RF-TelefonoT">Telefono</section>
                <input type="tel" name="Telefono" id="RF-TelefonoC" />
            </section>
            <!-- Cuarta fila - Email -->
            <section>
                <section id="RF-EmailT">Email</section>
                <input type="email" name="Email" id="RF-EmailC" />
            </section>
            <!-- Quinta fila - Contraseña -->
            <section>
                <section id="RF-PasswordT">Contraseña</section>
                <input type="password" name="Contraseña" id="RF-PasswordC" />
            </section>
            <!-- Sexta fila - Ciudad -->
            <section>
                <section id="RF-CiudadT">Ciudad</section>
                <input type="text" name="Ciudad" id="RF-CiudadC" />
            </section>
            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")           
            <!-- Boton de registro -->
            <section>
                <input type="submit" value="Registrar" id="RF-Boton" />
            </section>           
        </form>
    </section>
</body>
</html>
