<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Registros/Registro.css" />
</head>
<body>
    <!-- CABECERA WEB -->
    <header id="RU-Header"></header>
    <!-- CUERPO PRINCIPAL -->    
    <section id="RU-CUADROCENTRAL">        
        <!-- CUADRO IZQUIERDO-->
        <section id="RU-CuadroI"> 
            <img src="~/imagenes/iconofamilia1.png" id="RU-Icono1" /> 
            <h3 id="RU-Subtitulo1">Registro de Familias</h3>                         
            <p id="RU-Parrafo1">El registro como familia permite crear anuncios para que otras personas puedan ayudarte. Podras elegir,
              tanto las horas como el lugar, ademas de la persona que hara el desempeño de la tarea que necesites.
              También puedes elegir anuncios ya creados por los profesionales registrados.</p>
            <a href="/ControlWeb/RegistroFamilia" id="RU-Referencia"> <img src="~/imagenes/iconoboton1.png"  width="120" height="39";/> </a> 
             <!--    -->
        </section>
        <!-- CUADRO CENTRAL -->
        <section id="RU-CuadroC">  
            <img src="~/imagenes/iconoprofesional1.png" id="RU-Icono2" /> 
            <h3 id="RU-Subtitulo2">Registro de Profesionales</h3>                           
            <p id="RU-Parrafo2">El registro como profesional permite crear anuncios propios para que un usuario familia pueda
              eligir tus servicios. Ademas, también podras eligir aquellos anuncios creados por las familias para ofrecerles
              un servicio deacuerdo a las exigencias de la familia.</p>
            <a href="/ControlWeb/RegistroProfesional" id="RU-Referencia"><img src="~/imagenes/iconoboton1.png" width="120" height="39"; /></a>   
               
        </section> 
        <!-- CUADRO DERECHO -->
        <section id="RU-CuadroD">  
            <img src="~/imagenes/iconoambos1.png" id="RU-Icono3" />  
            <h3 id="RU-Subtitulo3">Registro Ambos</h3>                          
            <p id="RU-Parrafo3">El registro como "ambos" permite al usuario que se registra crear anuncios para atender tanto
              a familias como a otros profesionales. Puede ofrecer servicios y/o necesitar un servicio.</p>
            <a href="/ControlWeb/RegistroAmbos" id="RU-Referencia"><img src="~/imagenes/iconoboton1.png" width="120" height="39"; /></a>
        </section> 
    </section> 
    <!-- PIE DE PAGINA -->
    <footer>
        
    </footer>
</body>
</html>


