
@{
    ViewBag.Title = "RegistroUsuario";
}

<h2>RegistroUsuario</h2>

<p><a href="http://localhost:49555/ControlWeb/RegistroFamilia"></a>Registro Familia</p>

<p><a href="http://localhost:49555/ControlWeb/RegistroProfesional"></a>Registro Profesional</p>

<p><a href="http://localhost:49555/ControlWeb/RegistroAmbos"></a>Registro Ambos</p>