

@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->



<h3></h3>


<div id="caja">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">

                        <fieldset>

                            <div>
                                <div>
                                    <h2 class="text-center cabeza">CONTACTO</h2>
                                    <div>
                                        Si necesita más información, no dude en ponerse en contacto con nosotros,
                                        estaremos encantados de ayudarle en todo lo que podamos.
                                        Puede enviarnos un mensaje utilizando el siguiente formulario de contacto:
                                    </div>

                                    <br /><br /><br /><br />


                                    <form class="form-horizontal" role="form" method="post" action="index.php">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Nombre*</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Apellidos*</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-2 control-label">Correo electronico*</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="message" class="col-sm-2 control-label">Mensaje*</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="4" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="human" name="human" placeholder="Respuesta">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <input id="submit" name="submit" type="submit" value="Enviar" class="btn btn-primary">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <! Will be used to display an alert to the user>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                                <div id="mapa" class="center-block">

                                    <h3>Localización</h3>
                                    <p>
                                        <br /><b>Escuela politecnica Universidad de Alcala de Henares</b><br /><b>Campus Universitario. Ctra. Madrid-Barcelona, Km. 33,600. Alcalá de Henares (Madrid)</b><br />
                                    </p>
                                    <p>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d5101.491101183479!2d-3.349797610907182!3d40.511428173511085!3m2!1i1024!2i768!4f13.1!2m1!1sCtra.+Madrid-Barcelona%2C+Km.+33%2C600.+Alcal%C3%A1+de+Henares+(Madrid)!5e0!3m2!1ses!2ses!4v1510072630485"
                                                width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </p>




                                </div>


                            </div>











                        </fieldset>







                    </form>
                </div>
            </div>
        </div>
    </div>





    <br />
    <br />
    <div class="symple-box gray none " style="text-align:left; width:100%;">
        <p>Todos los datos facilitados a través de formularios electrónicos y / o mediante correo electrónico serán tratados con estricta confidencialidad de acuerdo con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de carácter personal, y le informamos que tiene usted derecho de acceso al fichero, rectificación y cancelación de sus datos, pudiendo ejercitar tales derechos. Mediante el envío de los formularios existentes en estas páginas web o mediante el envío de un mensaje de correo electrónico, el remitente presta su consentimiento al tratamiento automatizado de los datos incluidos en el mismo. Los datos facilitados no serán objeto de cesión a terceros</p>
    </div>


</div>
