 @{ 
       ViewBag.Title = "Home page";
}




<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/IndexEstilo.css" />


</head>

<body>

    <div class="jumbotron">
        <h1 align="center"><b>MILSERVICIOS</b></h1>
        <h2 align="center"><b><<<<----Rapido y fiable ---->>>></b></h2>
        

    </div>

    <p class="lead" align="center">Plataforma web nacida en la Universidad de Alcalá de Henares por los mejores profesionales para hacer que el cuidado de personas, mascotas y clases particulares</p>
    <br/>
   <!--<p align="center"><a href="http://localhost:49555/Home/Contact" class="btn btn-primary btn-lg">Conocenos más &raquo;</a></p>--> 


    <p align="center"><a class=“boton” href=“http://localhost:49555/ControlWeb/Registro”><img src="~/imagenes/registrarseb.png" /></a></p>

    <div>



    </div>
    <div class="imp">

        <div class="col-md-4" style="background-color:#ADB0B0">
            <h2 align="center"><b>MASCOTAS</b></h2>
            <div class="imagen" align="center"><img src="~/imagenes/perro.jpg" width="100" height="100" /></div>
         
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>




        <div class="col-md-4" style="background-color:#ADB0B0">
            <h2 align="center"><b>PERSONAS</b></h2>
            <div class="imagen" align="center"><img src="~/imagenes/persona.jpg"   width="100" height="100" /></div>
           
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color:#ADB0B0">
            <h2 align="center"><b>CLASES</b></h2>
            <div class="imagen" align="center"><img src="~/imagenes/clase.png" width="100" height="100" /></div>
             
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color:#ADB0B0">
            <h2 align="center"><b>DOMESTICOS</b></h2>
            <div class="imagen" align="center"><img src="~/imagenes/domestico.png" width="100" height="100" /></div>

            
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    <div><p></p><p></p><p></p><p></p><p></p><p></p><p></p></div>
   


    <div class="banner" align="center">


        <img src="~/imagenes/banner.jpg" width="650" height="200" />
    </div>







</body>


</html>

