@{
    ViewBag.Title = "Home page";
}




<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pagina de contacto milservicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">



</head>

<body>

    <section id="services" class="section orange">
        <div class="cotene">
            <img src="~/imagenes/Milservicios1 final.jpg" />



            <p>
                Plataforma web nacida en la Universidad de Alcalá de Henares por los mejores profesionales para hacer que el cuidado de personas, mascotas y clases particulares
                sea más facil





            <p align="center"><a class=“boton” href=“/ControlWeb/RegistroUsuario”><img src="~/imagenes/nuevocli.png" /></a></p>


            <!-- Four columns -->
            <div class="row">
                <div class="span3 animated-fast flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/enfermera.png" alt="" />
                        <h2>Cuidado personas</h2>
                        <p>
                            Si necesitas a alguien para que cuide de tu familiar o si eres un profesional en el cuidado de personas.
                        </p>

                    </div>
                </div>
                <div class="span3 animated flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/domestico.jpg" alt="" />
                        <h2>Servicios domesticos</h2>
                        <p>
                            Limpiar, planchar o cocinar  ya no es un problema.
                        </p>
                    </div>
                </div>
                <div class="span3 animated-fast flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/clase.png" alt="" />
                        <h2>Clases particulares</h2>
                        <p>
                            No suspendas nunca más, busca tu profesor  o ofrecete como profesional docente.
                        </p>
                    </div>
                </div>
                <div class="span3 animated-slow flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/perro2.png" alt="" />
                        <h2>Servicios Domestidos</h2>
                        <p>
                            No dejes a tu animal nunca más desatendido. Busca o registrate como profesional.
                        </p>
                    </div>
                </div>
                <br />

            </div>

        </div>

    </section>

</body>
</html>