@{
    ViewBag.Title = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pagina de contacto milservicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/General/Index.css"/>
</head>
<body>
    <section id="HI-CuerpoPrincipal">
        <figure id="HI-Banner">
            <img src="~/imagenes/Milservicios1 final.jpg" />
            <figcaption id="HI-PiePagina">
                Plataforma web nacida en la Universidad de Alcalá de Henares,
                por los mejores profesionales para hacer que el cuidado de personas,
                mascotas y clases particulares sea más facil.
            </figcaption>
        </figure>
        <a class="boton" href="/ControlWeb/RegistroUsuario">
            <img src="~/imagenes/nuevocli.png" id="HI-BotonRegistro" />
        </a>
        <section id="HI-CuadroColumnas">
            <section id="HI-Cuadro1">
                <img src="~/imagenes/enfermera.png" alt="" id="HI-Imagen" />
                <h2 id="HI-TituloColumnas1">Cuidado personas</h2>
                <section id="HI-Caja1">
                    <p>
                        Si necesitas a alguien <br />para que cuide de tu familiar
                        o si eres un profesional en el cuidado de personas.
                    </p>
                </section>                
            </section>
            <section id="HI-Cuadro2">
                <img src="~/imagenes/domestico.jpg" alt="" id="HI-Imagen" />
                <h2 id="HI-TituloColumnas2">Servicios domesticos</h2>
                <section id="HI-Caja2">
                    <p>
                        Limpiar, planchar o cocinar  ya no es un problema.
                    </p>
                </section>                
            </section>
            <section id="HI-Cuadro3">
                <img src="~/imagenes/clase.png" alt="" id="HI-Imagen" />
                <h2 id="HI-TituloColumnas3">Clases particulares</h2>
                <section id="HI-Caja3">
                    <p>
                        No suspendas nunca más, busca tu profesor  o ofrecete como profesional docente.
                    </p>
                </section>                
            </section>
            <section id="HI-Cuadro4">
                <img src="~/imagenes/perro2.png" alt=""  id="HI-Imagen"/>
                <h2 id="HI-TituloColumnas4">Servicios Domestidos</h2>
                <section id="HI-Caja4">
                    <p>
                        No dejes a tu animal nunca más desatendido. Busca o registrate como profesional.
                    </p>
                </section>
                
            </section>
        </section>
    </section>
</body>
</html>

<!--
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pagina de contacto milservicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">



</head>

<body>

    <section id="services" class="section green">
        <div class="cotene">
            <img src="~/imagenes/Milservicios1 final.jpg" />



            <p>
                Plataforma web nacida en la Universidad de Alcalá de Henares por los mejores profesionales para hacer que el cuidado de personas, mascotas y clases particulares
                sea más facil





            <p align="center"><a class=“boton” href=“/ControlWeb/RegistroUsuario”><img src="~/imagenes/nuevocli.png" /></a></p>


            <!-- Four columns
            <div class="row">
                <div class="span3 animated-fast flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/enfermera.png" alt="" />
                        <h2>Cuidado personas</h2>
                        <p>
                            Si necesitas a alguien para que cuide de tu familiar o si eres un profesional en el cuidado de personas.
                        </p>

                    </div>
                </div>
                <div class="span3 animated flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/domestico.jpg" alt="" />
                        <h2>Servicios domesticos</h2>
                        <p>
                            Limpiar, planchar o cocinar  ya no es un problema.
                        </p>
                    </div>
                </div>
                <div class="span3 animated-fast flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/clase.png" alt="" />
                        <h2>Clases particulares</h2>
                        <p>
                            No suspendas nunca más, busca tu profesor  o ofrecete como profesional docente.
                        </p>
                    </div>
                </div>
                <div class="span3 animated-slow flyIn">
                    <div class="service-box">
                        <img src="~/imagenes/perro2.png" alt="" />
                        <h2>Servicios Domestidos</h2>
                        <p>
                            No dejes a tu animal nunca más desatendido. Busca o registrate como profesional.
                        </p>
                    </div>
                </div>
                <br />

            </div>

        </div>

    </section>

</body>
</html>
    -->
