


<html>
<head>
    <meta charset="utf-8">
    <title>Pagina de contacto milservicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/default.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/imagenes/favicon.ico">
</head>
<body>
    <section id="about" class="section">
        <div class="container">
            <h4>Quienes Somos</h4>
            <div class="row">
                <div class="span4 offset1">
                    <div>


                        <h2>EL SERVICIO PARA LOS  <strong>SERVICIOS</strong></h2>
                        <div>
                            En milservicios somos conscientes de la importancia de elegir alguien de confianza para cuidar de los tuyos cuando a ti
                            no te sea posible. Somos un grupo de profesionales cuyo objetivo es proveer de los mejores servicios para que tu y los tuyos tengan los mejores
                            cuidados.
                        </div>




                    </div>
                </div>
                <div class="popo">
                    <div class="aligncenter">
                        <img src="~/imagenes/servicio.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span2 offset1 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-5.jpg" alt="" />
                        <h3>Alberto</h3>
                        <p>
                            Jefe de proyecto
                        </p>
                    </div>
                </div>
                <div class="span2 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-4.jpg" alt="" />
                        <h3>Víctor</h3>
                        <p>
                            Analista de proyectos
                        </p>
                    </div>
                </div>
                <div class="span2 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-3.jpg" alt="" />
                        <h3>Jorge</h3>
                        <p>
                            Relaciones publicas y RRHH
                        </p>
                    </div>
                </div>
                <div class="span2 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-2.jpg" alt="" />
                        <h3>Javier</h3>
                        <p>
                            Diseñador y programador
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">



                <div class="span2 offset1 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-1.jpg" alt="" />
                        <h3>David</h3>
                        <p>
                            Jefe de Seguridad
                        </p>
                    </div>
                </div>
                <div class="span2 flyIn">
                    <div class="people">
                        <img class="team-thumb img-circle" src="~/imagenes/img-6.jpg" alt="" />
                        <h3>Francisco</h3>
                        <p>
                            Adiministrador de sistemas.
                        </p>
                    </div>
                </div>
                <div class="span2 flyIn">
                    <div class="people">
                       <!--  <img class="team-thumb img-circle" src="~/imagenes/img-6.jpg" alt="" />-->
                        <h3>Jorge Lafuente (desconocido)</h3>
                        <p>
                            Analista de base de datos
                        </p>
                    </div>
                </div>



            </div>
        </div>
        <!-- /.container -->
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <ul class="social-networks">
                        <li><img src="~/imagenes/facebook.png" /></li>
                        <li><img src="~/imagenes/tt.png" /></li>
                        <li><img src="~/imagenes/insta.png" /></li>
                        <li><img src="~/imagenes/linkedin (1).png" /></li>
                    </ul>
                    <p class="copyright">
                        &copy; MilServicios. Todos los derechos reservados.

                    </p>
                </div>
            </div>
        </div>
        <!-- ./container -->
    </footer>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.localScroll.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/inview.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>




</body>
</html>